Lab 2/terraform/.terraform
Lab 3/terraform/.terraform
Lab 3/frontend/node_modules
Lab 3/backend/node_modules
Lab 3b/frontend/node_modules
Lab 3c/terraform/.terraform
Lab 3c/frontend/node_modules
Lab 3c/backend/node_modules
Lab 3c/backend/my-node-app.tar
Lab 3c/backend/terraform_ecr/.terraform
Lab 3c/backend/terraform_fargate/.terraform